html {
    overflow: hidden;
}

body {
    background: url(../img/bg4.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.profile-frame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    position: absolute;
}

.profile-text {
    margin: 0 auto;
    position: relative;
    top: 25rem;
}

.profile-text h5 {
    color: gray;
    justify-content: center;
    font-family: 'Axiforma', sans-serif;
    font-size: 2rem;
}

.profile-text h2 {
    color: whitesmoke;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Axiforma Black', sans-serif;
    font-size: 4.5rem;
    text-shadow: black;
}

.ftco-animate {
    opacity: 0;
    visibility: hidden;
}

@font-face {
    font-family: 'Axiforma Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Axiforma Regular'), url('Kastelov  Axiforma Regular.woff') format('woff');
}

@font-face {
    font-family: 'Axiforma Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Axiforma Italic'), url('Kastelov  Axiforma Italic.woff') format('woff');
}

@font-face {
    font-family: 'Axiforma Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Axiforma Thin'), url('Kastelov  Axiforma Thin.woff') format('woff');
}

@font-face {
    font-family: 'Axiforma Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Axiforma Thin Italic'), url('Kastelov  Axiforma Thin Italic.woff') format('woff');
}

@font-face {
    font-family: 'Axiforma Book';
    font-style: normal;
    font-weight: normal;
    src: local('Axiforma Book'), url('Kastelov  Axiforma Book.woff') format('woff');
}

@font-face {
    font-family: 'Axiforma Light';
    font-style: normal;
    font-weight: normal;
    src: local('Axiforma Light'), url('Kastelov  Axiforma Light.woff') format('woff');
}

@font-face {
    font-family: 'Axiforma Book Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Axiforma Book Italic'), url('Kastelov  Axiforma Book Italic.woff') format('woff');
}

@font-face {
    font-family: 'Axiforma Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Axiforma Light Italic'), url('Kastelov  Axiforma Light Italic.woff') format('woff');
}

@font-face {
    font-family: 'Axiforma Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Axiforma Medium'), url('Kastelov  Axiforma Medium.woff') format('woff');
}

@font-face {
    font-family: 'Axiforma Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Axiforma Medium Italic'), url('Kastelov  Axiforma Medium Italic.woff') format('woff');
}

@font-face {
    font-family: 'Axiforma SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Axiforma SemiBold'), url('Kastelov  Axiforma SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Axiforma SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Axiforma SemiBold Italic'), url('Kastelov  Axiforma SemiBold Italic.woff') format('woff');
}

@font-face {
    font-family: 'Axiforma Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Axiforma Bold'), url('Kastelov  Axiforma Bold.woff') format('woff');
}

@font-face {
    font-family: 'Axiforma Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Axiforma Bold Italic'), url('Kastelov  Axiforma Bold Italic.woff') format('woff');
}

@font-face {
    font-family: 'Axiforma ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Axiforma ExtraBold'), url('Kastelov  Axiforma ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Axiforma ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Axiforma ExtraBold Italic'), url('Kastelov  Axiforma ExtraBold Italic.woff') format('woff');
}

@font-face {
    font-family: 'Axiforma Black';
    font-style: normal;
    font-weight: normal;
    src: local('Axiforma Black'), url('Kastelov  Axiforma Black.woff') format('woff');
}

@font-face {
    font-family: 'Axiforma Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Axiforma Black Italic'), url('Kastelov  Axiforma Black Italic.woff') format('woff');
}

@font-face {
    font-family: 'Axiforma Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Axiforma Heavy'), url('Kastelov  Axiforma Heavy.woff') format('woff');
}

@font-face {
    font-family: 'Axiforma Heavy Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Axiforma Heavy Italic'), url('Kastelov  Axiforma Heavy Italic.woff') format('woff');
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}